<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Liste des Tâches</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Liste des Tâches</h1>
  <input type="text" id="searchInput" oninput="filterTasks()" placeholder="Recherche par titre...">
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="tasksList"></tbody>
  </table>

  <a href="create.html" class="create-task-link">Créer une nouvelle tâche</a>

  <script>
    const tasks = [];

    async function loadTasks() {
      const response = await fetch('http://localhost:3000/tasks');
      const data = await response.json();
      tasks.push(...data);
      displayTasks(tasks);
    }

    function displayTasks(tasksToDisplay) {
      const tasksList = document.getElementById('tasksList');
      tasksList.innerHTML = ''; // Clear existing tasks
      tasksToDisplay.forEach(task => {
        const tr = document.createElement('tr');
        const titleTd = document.createElement('td');
        const link = document.createElement('a');
        link.href = `task.html?id=${task.id}`;
        link.textContent = task.title;
        titleTd.appendChild(link);
        tr.appendChild(titleTd);

        const actionTd = document.createElement('td');
        const deleteBtn = document.createElement('button');
        deleteBtn.textContent = 'Supprimer';
        deleteBtn.onclick = () => deleteTask(task.id);
        const editBtn = document.createElement('button');
        editBtn.textContent = 'Modifier';
        editBtn.onclick = () => window.location.href = `edit.html?id=${task.id}`;
        actionTd.appendChild(editBtn);
        actionTd.appendChild(deleteBtn);
        tr.appendChild(actionTd);

        tasksList.appendChild(tr);
      });
    }

    function filterTasks() {
      const searchTerm = document.getElementById('searchInput').value.toLowerCase();
      const filteredTasks = tasks.filter(task =>
        task.title.toLowerCase().includes(searchTerm)
      );
      displayTasks(filteredTasks);
    }

    async function deleteTask(taskId) {
      await fetch(`http://localhost:3000/tasks/${taskId}`, { method: 'DELETE' });
      window.location.reload();
    }

    loadTasks();
  </script>
</body>

</html>